<% include ../header %>
	<div class="container" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-3">
				<h2><a href="https://www.google.com/search?q=<%=campground.name%>" target="_blank"><%= campground.name %></a></h2>
				<h5><i><%= campground.country %></i></h5>
				<a href="https://www.instagram.com/explore/tags/<%=name%>" title="Search instagram #<%=campground.name%>" target="_blank" style="position:absolute;top:575px;">
					<img src="/assets/instag-icon.png" width="35" height="25">
					<img src="/assets/instagram.png" width="150" height="50">
				</a>
			</div>
			<div class="col-md-9">
				<div class="thumbnail">
					<img class="img-responsive" src="<%= campground.image %>">
					<div class="caption-full">
						<p><%= campground.description %></p>
						<p><em><%= campground.author.username%></em></p>
						<% if(currentUser){ %>
							<% if(campground.author.id.equals(currentUser._id)){%>
								<a class="btn btn-sm btn-warning"href="/campgrounds/<%=campground._id%>/edit">Edit</a>
								<form class="form"action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
									<button class="btn btn-sm btn-danger pull-right">Delete</button>
								</form>
							<%}%>
						<%}%>
					</div>
				</div>		
				<hr>
				<div class="well">
					<form action="/campgrounds/<%=campground._id%>/comments"  autocomplete="off" method="post">
						<div class="form-inline">
							<input class="form-control col-sm-12" type="text" name="comment[text]" placeholder="Comment...">
						</div>
					</form>
					<br>
					<% campground.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-sm-9">
							<strong><%=comment.author.username%></strong>
							<span class="pull-right"><i><%=comment.date%></i></span>
							<p>
								<%=comment.text %>
							</p>
						</div>
						<%if(currentUser && comment.author.id.equals(currentUser._id)){%>
						<div class="ml-auto">
							<form class="form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
								<input type="Submit" class="btn btn-sm btn-danger" value="Delete">
							</form>
						</div>
						<%}%>
					</div>
					<%})%>		
				</div>
			</div>
		</div>
	</div>
<% include ../footer %>